@charset "UTF-8";

div.back {

    padding-bottom: 23px;
    width: 500px;
    margin: 35px 60px;

}


body {
    background-image: url("bg2.jpg")
}

table {
    /*background-color: #FFAEB9;*/
    color: #FFFFFF;
}

td {
    padding: 5px;
    font-weight: bold;
}

h1 {
    color: #FFFFFF;
}

.kuang {
    border-radius: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border: gray solid 1px;
    background-color: #F5FFFA;
}

select, textarea {
    border-radius: 7px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border: gray solid 1px;
    background-color: #F5FFFA;
}

input[type="file"] {
    border-radius: 7px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border: gray solid 1px;
    background-color: #F5FFFA;
}

.anniu {
    border-radius: 7px;
    padding: 6px 30px;
    background-color: #F5FFFA;
    font-size: 14px;
    font-weight: bold;
}

input[type="submit"]{
}